@import '../../../styles/scss/mixins';
@import '../../../styles/scss/variable';

.about{
  background: $bgSecondColor;

  .aboutContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 30px 0;

    .contentLeftColumn{
      width: 50%;
      margin-right: 15px;
      margin-bottom: 15px;

      .aboutTitle{
        @include text($secondTextFontFamily, 2rem ,$titleLineHeight,500,$secondColor);
        letter-spacing: 3px;
      }

      .aboutText{
        @include text($textFontFamily, 1.6rem ,2.8rem,300,$mainColor);
        letter-spacing: 1px;
        margin-bottom: 30px;

        p{
          margin-bottom: 5px;

          strong{
            color:$primaryColor;
            font-weight: 900;
          }
        }
      }

      .aboutButtonBlock{
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 0;

        .aboutButton{
          @include btn($primaryColor);
          margin: 0 20px 0 0;
          width: auto;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .contentRightColumn{
      margin-left: 15px;
      margin-bottom: 15px;
      .aboutImageBlock{
        width: 445px;
        height: 486px;
        border-radius: 2px;
        overflow: hidden;
        margin: 0;

        .aboutImage{
          width: 100%;
          height: 100%;
          object-fit: cover;
          animation-name: img;
          animation-duration: 20s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
          animation-fill-mode: both;
          transition: .3s;
          margin: 0;

        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .about{
    .aboutContent{
      flex-wrap: wrap;
      flex-direction: column-reverse;
      .contentLeftColumn{
        width: 100%;
        margin: 0;
      }
      .contentRightColumn{
        display: flex;
        justify-content: start;
        padding: 0;
        width: 100%;
        margin: 0 0 30px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .about{
    .aboutContent{
      padding: 0;
      .contentLeftColumn{
        .aboutButtonBlock{
          justify-content: center;
        }
      }
      .contentRightColumn{
        .aboutImageBlock{
          width: 315px;
          height: 356px;
        }
      }
    }
  }
}

@keyframes img {
  from{transform: scale(1)}
  to{transform: scale(1.05)}
}