@import '../../../../styles/scss/mixins';
@import '../../../../styles/scss/variable';

.mainSubTitle {
  margin-bottom: 50px;
  h4 {
    color: #0E1F37;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    padding: 0 15px;
    position: relative;

    &:before {
      content: '';
      width: 30px;
      height: 3px;
      background-color: $primaryColor;
      position: absolute;
      bottom: 8px;
      left: -25px;
    }

    &:after {
      content: '';
      width: 30px;
      height: 3px;
      background-color: $primaryColor;
      position: absolute;
      bottom: 8px;
      right: -25px;
    }
  }
}

@media screen and (max-width: 768px){
  .mainSubTitle{
    margin-bottom: 30px;
  }
}