@import '../../styles/scss/mixins';
@import '../../styles/scss/variable';

.footer {
  background: $secondColor;
  padding: 40px;
  position: relative;

  .copyright {
    @include flexCenter;
    font-size: $linkFontSize;
  }
}




@media screen and (max-width: 480px) {

}