@import '../../../styles/scss/mixins';
@import '../../../styles/scss/variable';

.home {
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 0;
  //background: url('images/homeimage.jpeg');
  @include background('images/homeimage.jpeg');

  &:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $bgGradient;
    z-index: -1;
    opacity: .6;
  }

  .container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .homeWrapper {
      .homeTitle {
        display: block;
        margin: 0 0 10px;
        letter-spacing: 0;

        @include text($secondTextFontFamily, $homeTitleFontSize, $titleLineHeight, 800, $textColor);

        .divWrapper{
          display: inline;
        }

        .homeTitleName {
          color: $primaryColor;
        }
      }

      .homeTitleProfession {
        h2{
          @include text($secondTextFontFamily, $primaryTitleFontSize, $titleLineHeight, 300, $textColor);
        }

      }
    }
  }
}

@media screen and (max-width: 480px) {
  .home {
    .container {
      .homeWrapper {
        .homeTitle{
          font-size: 4.5rem;

          .divWrapper{
            display: block;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}