@import '../../../../styles/scss/mixins';
@import '../../../../styles/scss/variable';

.mainTitle {
  @include flexCenter;
  margin-bottom: 5px;

  h4{
    text-transform: uppercase;
    @include text($secondTextFontFamily,$primaryTitleFontSize,$titleLineHeight,$titleFontWeight,$secondColor);
    letter-spacing: 3px;

    span {
      color: $primaryColor;
    }
  }
}
