@import '../../styles/scss/mixins';
@import '../../styles/scss/variable';

//.socialNetwork {
//  background-image: url('images/social-network.jpg');
//}
//
//.todolist {
//  background-image: url('images/todolist.jpeg');
//}
//
.cards {
  background-position: center;
  background-image: url('images/question-mark.jpg');
}

.show {
  opacity: 1;
  z-index: 3;
  display: flex;
}

.notShow {
  display: none;
  opacity: 0;
  z-index: -100;
}

.works {
  background: $bgSecondColor;
  min-height: 100vh;

  .fade {
    width: 100%;

    .worksContent {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;

      .worksItem {
        max-width: 350px;
        width: 30%;
        height: 219px;
        margin: 15px;
        border-radius: 2px;
        overflow: hidden;
        box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.1);
        transition: .3s;

        .image {
          width: 100%;
          height: 100%;
          z-index: 0;
          padding: 40px 0;
          position: relative;

          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;

          .imageWrapper {
            width: 80%;
            height: 80%;
            border-radius: 2px;
            opacity: 0;
            margin: auto;
          }

          .itemTitle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 50px;
            background: #fff;

            text-transform: uppercase;
            text-align: center;
            margin: 0 auto 40px;
            opacity: 0;
            transition: .5s;

            position: absolute;
            top: 20px;
            left: 0;
            right: 0;
          }

          .linkBlock {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            position: absolute;
            top: 160px;
            left: 0;
            right: 0;
            margin: auto;

            .link {
              display: flex;
              justify-content: center;
              align-items: center;
              -webkit-transition: .5s all ease;
              -o-transition: .5s all ease;
              transition: .5s all ease;
              height: 40px;
              width: 40px;
              background-color: $bgColor;
              @include link();
              border-radius: 10%;

              margin: 0 10px;
              text-decoration: none;
              z-index: 3;

              border: 2px solid transparent;

              i {
                font-family: $iconFontFamily;
                font-size: 21px;
                color: #000;

                -webkit-transition: .5s all ease;
                -o-transition: .5s all ease;
                transition: .5s all ease;
              }

              &:hover {
                background: #fff;
              }
            }
          }

          &:hover {
            .imageWrapper {
              width: 100%;
              height: 100%;
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              background: $bgGradient;
              z-index: 1;
              opacity: .6;
              -webkit-transition: .5s all ease;
              -o-transition: .5s all ease;
              transition: .5s all ease;
            }

            .itemTitle {
              width: 100%;
              opacity: 1;
              z-index: 3;
              top: 40px;
            }

            .linkBlock {
              position: absolute;
              top: 120px;
              display: flex;
              justify-content: center;
              align-items: center;
              opacity: 1;
              z-index: 3;
              transition: .5s;

              .copyText {
                justify-content: center;
                align-items: center;
                width: 230px;
                height: 20px;
                font-size: 1.2rem;
                line-height: 1rem;
                color: $primaryColor;

                background: #fff;
                border-radius: 2px;

                position: absolute;
                bottom: -40px;
                right: 0;
                left: 0;
                margin: 0 auto;

                transition: .5s;
              }

              .link {
                &:hover {
                  background: rgba(0, 0, 0, 0);
                  border: 2px solid #fff;

                  i {
                    color: #fff;
                  }
                }
              }
            }
          }
        }

        .description {
          height: auto;
          padding: 20px 10px 40px;
          background: #eaeaea;
          margin: 0;

          .projectTitle {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .works {
    .fade {
      .worksContent {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;

        .worksItem {
          width: 40%;
        }
      }
    }

  }
}


@media screen and (max-width: 768px) {
  .works {
    .fade {
      .worksContent {
        .worksItem {
          max-width: 100%;
          width: 70%;
          height: 250px;
          margin: 0 auto 30px;
        }
      }
    }

  }
}

@media screen and (max-width: 480px) {
  .works {
    .fade {
      .worksContent {
        .worksItem {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
}